<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Class - EasyTest</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #122028;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        header {
            background-color: #0a1116;
            padding: 20px;
            color: #fff;
            font-size: 32px;
        }

        section {
            margin: 25px auto;
            padding: 25px;
            background-color: #0a1116;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            width: 80%;
            max-width: 800px;
            border-radius: 25px;
            position: relative;
        }

        h1, h2 {
            color: #ffffff;
            margin-bottom: 10px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-size: 20px;
            color: #fff;
        }

        input[type="text"] {
            padding: 10px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 100%;
        }

        button[type="submit"], a.cancel-btn {
            padding: 12px 24px;
            font-size: 16px;
            background-color: #080683;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none;
            margin-right: 10px;
        }

        button[type="submit"]:hover, a.cancel-btn:hover {
            background-color: #06045c;
        }
    </style>
</head>
<body>
    <header>
        <h1>Join Class</h1>
    </header>

    <section>
        <form action="/joinclass" method="post">
            <label for="classCode">Enter Class Code:</label>
            <input type="text" id="classCode" name="classCode" required>
            <button type="submit">Join</button>
            <a href="/studentdashboard" class="cancel-btn">Cancel</a>
        </form>
    </section>
</body>
</html>